body {

    background-color: #90acb1;
}

button {

    padding: 20px !important;
    border-radius: 20px !important;
    color: #ffffff !important;
    text-decoration: none;
    background-color: #0c5460 !important;
    box-shadow: 0px 5px #03333c !important;
}

h1{

    text-align: center;
    font-family: 'Oxygen', sans-serif;
    margin-top: 100px;
    font-weight: 700;
}