<!DOCTYPE html>

<html lang="eng">

    <head>

        <meta charset="UTF-8">
        <title>Fitness Center</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <link href="{{ url_for('static', filename='css/test.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='js/test.js')}}"></script>

        <link href="{{ url_for('static', filename='css/checkin.css')}}" rel="stylesheet">


    </head>

    <body>


    <div class="modal-dialog" style="width: 450px; margin-top: 70px">
			<div class="modal-content">

                <div class="booth">
			<video id="video" width="400" height="300" style="margin-left: -15px; margin-top: 30px;"></video>
			<canvas id='canvas' width="400" height="300"></canvas>
			<div id="cam-holder">

			</div>

		</div>


                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form action="" id="login-form" method="post">
		                <div class="modal-body">
				    		<div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">{{error}}</span>
                            </div>
				    		<input id="login_nic" name="nic" class="form-control" type="text" placeholder="NIC" value="{{request.form.nic}}">

        		    	</div>
				        <div class="modal-footer">
                            <div>
                                <button type="submit" onclick="capture()" class="btn btn-primary btn-lg btn-block">Check-In</button>
                            </div>
				        </div>
                    </form>
                    <!-- End # Login Form -->

                </div>
                <!-- End # DIV Form -->

			</div>
		</div>

    </body>

<script>

	function b64toBlob(b64Data, contentType, sliceSize) {
    contentType = contentType || '';
    sliceSize = sliceSize || 512;

    var byteCharacters = atob(b64Data);
    var byteArrays = [];

    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
    }

    var blob = new Blob(byteArrays, {type: contentType});
    return blob;
}


	(function () {
    console.log('hfiehfieh');
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    // var photo = document.getElementById('photo');
    var holder = document.getElementById('cam-holder');
    context = canvas.getContext('2d');

    if (navigator.mediaDevices.getUserMedia) {

        navigator.mediaDevices.getUserMedia({video: {width: 400, height: 300}, audio: false})
            .then(function (stream) {
                video.srcObject = stream;
                video.play();

            })
            .catch(function (error) {
                console.log(error.message);
            });
    }

})();

	function capture() {
	    console.log("in capture image")
        context.drawImage(video, 0, 0, 800, 600);
        var imgUrl = canvas.toDataURL('image/png');
        var block = imgUrl.split(";");
        var contentType = block[0].split(":")[1];
        var fileType = contentType.split("/")[1];
        var realData = block[1].split(",")[1];
        var blob = b64toBlob(realData, contentType);
        return blob
    }

</script>

</html>