<!DOCTYPE html>
<html lang="en">
    <head>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Website CSS style -->
		<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

		<!-- Website Font style -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>



		<title>Register New Member</title>
	</head>

    <body>

<div class="header-cont">

        <div class="header-wrap">
            <a href="/dash/">Register</a>
            <a href="/checkin/">Check-In</a>
			<a href="/filldetail">Progress</a>
            <a href="/settings/">Settings</a>
			 <a href="/logout/">Logout</a>
        </div>



		</div>

        <div class="container">

			<span id="text-login-msg">{{error}}</span>
			<div class="row main">

				<div class="main-login main-center">

                    <!--dsadsadsa-->

                    <div class="booth">
			<video id="video" width="400" height="300" style="margin-left: 100px; margin-top: 30px;"></video>
			<button id="capture" class="booth-capture-button">Capture Image</button>
			<canvas id='canvas' width="400" height="300"></canvas>
			<div id="cam-holder">

			</div>

		</div>
                    <div class="form-wrap">

                    <!--fhhfskdfj-->
					<form class="form-horizontal" method="post" id="regform" action="/dash/">

                        <div class="row">

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="far fa-id-card fa" aria-hidden="true"></i></span>
									<input type="text" maxlength="10"  class="form-control" name="nic" id="nic"  placeholder="NIC" />
								</div>
							</div>


							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="fname" id="fname"  placeholder="First Name" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="lname" id="lname"  placeholder="Last Name" />
								</div>
							</div>

							<!--pattern="^[_A-z0-9]{1,}$" maxlength="15" -->

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="email" id="email"  placeholder="Email" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
									<input type="number" maxlength="10"  class="form-control" name="mobile" id="mobile"  placeholder="Mobile Number" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar-alt fa" aria-hidden="true"></i></span>
									<input type="date" class="form-control" name="dob" id="dob" min="1970-01-01"  />
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-weight fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" name="weight" id="weight"  placeholder="Weight" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-ruler-vertical fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" name="height" id="height"  placeholder="Height" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-flask fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" name="fat" id="fat"  placeholder="Fat" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-tshirt fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" name="chest" id="chest"  placeholder="Chest Size" />
								</div>
							</div>



							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Password" />
								</div>
							</div>




							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-check-square fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm Password" />
								</div>
							</div>


                        </div>


							<button id="frmbtn" type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>


					</form>
                        </div>

				</div>
			</div>
		</div>

        </body>


<script src="{{url_for('static', filename='js/camload.js')}}"></script>
<!--<script src="{{url_for('static', filename='js/fileupload.js')}}"></script>-->
</html>